{% extends 'base.html' %}


{% block title %}{{object.title}}{% endblock title %}


{% block post_detail_link %}
<li class="breadcrumb-item active">
    <a href="{% url 'post_detail' object.pk %}">{{ object.title }}</a>
</li>
<li class="breadcrumb-item" aria-current="page">
    <span style="color: red;">Delete</span>
</li>
{% endblock post_detail_link %}


{% block content %}
    <div class="col-sm-4 mx-auto">
        <h1>Delete post</h1>
        <form method="post">{% csrf_token %}
            <p>
                Are you sure you want to delete "{{ object.title }}"?
            </p>
            <button class="btn btn-danger ml-2" type="submit">Confirm</button>
        </form>
    </div>
{% endblock content %}
